{{template "layoutdasar" .}}

{{define "pagecontent"}}
	<h1>Voucher Activation</h1> 
	<form method="post">
		<input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
		<input type="hidden" name="request_id" value="{{.Data.RequestId}}">
		<input type="hidden" name="room_id" value="{{.Data.RoomId}}">

		<div id="evoucher-phone" class="dw-input-textbox simple-textbox" disabled>
			<input type="text" id="phone" name="phone" onkeyup="this.setAttribute('value', this.value);" value="{{.Data.PhoneNumber}}" maxlength="20" readonly disabled>					
			<label for="phone">Phone Number</label>
		</div>

		<div id="evoucher-name" class="dw-input-textbox simple-textbox">
			<input type="text" id="name" name="name" onkeyup="this.setAttribute('value', this.value);" value="{{.Data.Name}}" maxlength="20">					
			<label for="name">Your Name</label>
		</div>

		<div id="evoucher-gender" class="dw-input-radio">
			<div class="dw-input-radio-caption">
				Gender
			</div>
			<label>Men
				<input type="radio" name="gender" value="M" {{if eq .Data.Gender "M"}}checked{{end}}>
				<span class="checkmark"></span>
			</label>
			<label>Women
				<input type="radio" name="gender" value="F" {{if eq .Data.Gender "F"}}checked{{end}}>
				<span class="checkmark"></span>
			</label>
		</div>
		{{if .Data.GenderInvalid}}
		<span class="form-input-error">Silahkan isi dahulu data gender anda</span>
		{{end}}

		<div style="margin-top: 20px;">Get 6 digit Code from cashier</div>
		<div id="evoucher-code" class="dw-input-textbox simple-textbox" style="width: 200px; margin-top: 0;">
			<input type="text" id="name" name="code" onkeyup="this.setAttribute('value', this.value);" value="{{.Data.Code}}" maxlength="6" inputmode="numeric">					
			<label for="code">Code</label>
		</div>
		{{if .Data.CodeInvalid }}
		
		<span class="form-input-error">{{ .Data.CodeInvalidMessage }}</span>
		{{end}}

		<div style="margin-top: 20px">
			<input class="button-black" type="submit" value="submit">
		</div>
	</form>
{{end}}