{{template "layoutdasar" .}}

{{define "pagecontent"}}
	<h1>Request Voucher</h1> 
	<form method="post">
		<input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
		<div id="evoucher-email" class="dw-input-textbox simple-textbox">
			<input type="text" id="name" name="name" onkeyup="this.setAttribute('value', this.value);" value="" maxlength="20">					
			<label for="name">Your Name</label>
		</div>

		<div id="evoucher-gender" class="dw-input-radio">
			<div class="dw-input-radio-caption">
				Gender
			</div>
			<label>Men
				<input type="radio" name="radio">
				<span class="checkmark"></span>
			</label>
			<label>Women
				<input type="radio" name="radio">
				<span class="checkmark"></span>
			</label>
		</div>
		
		<div style="margin-top: 20px;">Get Code from cashier</div>
		<div id="evoucher-code" class="dw-input-textbox simple-textbox" style="width: 200px; margin-top: 0;">
			<input type="text" id="name" name="name" onkeyup="this.setAttribute('value', this.value);" value="" maxlength="6">					
			<label for="name">Code</label>
		</div>		
		<input class="button-black" type="submit" value="submit">
		
	</form>
{{end}}